*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0px;
}

h2{
    background-color:#C20000;
    color: #fff;
    padding: 13px;
    text-align: center;
}

/* Estilo da Tabela */

table{
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
    border: 4px solid black !important;
}

table,th,td{
    border: 1px solid black;
    text-align: left;
}

th,td{
    padding: 10px;
}

th{
    background-color: #007315;
    color: #FFFFFF;
    height: 50px;
}


/* Tabela zebrada */
tr:nth-child(even){
    background-color: #FFE400;
}

/* muda a cor da linha ao passar o mouse */
tr:hover{
    background-color: #03bb24;
}

/* Final estilo da tabela */

caption{
    caption-side: bottom;
}